/*
 * Copyright 2010-2011 by MegapolisTeam
 *
 * This file is part of Megapolis.
 *
 * Megapolis is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Megapolis is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with Megapolis.  If not, see <http://www.gnu.org/licenses/>.
 */

#logoSmall {
    z-index: 1000;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

body {
    width: 750px;
}

body, p, table, div {
    font-family: verdana
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    font-family: verdana;
    background-color: #fdca00;
}

.menu li {
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    margin-right: 10px;
}

.menu a {
    color: black;
    background-color: #ffffff;
    display: block;
    padding: 5px;
    width: 100%; /* border: 1px solid #d29e00;*/
    text-decoration: none;
}

.menu a:hover {
    color: white;
    background-color: #3B5998;
}

div.clear {
    clear: both;
}

.income {
    color: green;
}

#menuDiv {
    position: absolute;
    z-index:1000;
    top: 10px;
    left: 70px;
}